body {
    background-color: pink; 
}

h1 {
    color: red;
    font-size: 50px;
}

/* TAG SELECTORS */
img {
    background-color: red;
}

img:hover {
    background-color: gold;
}

/* CLASS SELECTORS */
.bacon {
    background-color: green;
}

.pear {
    background-color: red;
}

.circular {
    border-radius: 100%;
}

#heading {
    color: blue;
}